<% obj.each_slice(3) do |collections| %>
    <div class="row">
      <% collections.each do |collection| %>
          <div class="col-md-4 col-sm-6">
            <div class="well shadow">
              <h3 class="text-center"><%= link_to collection.title, collection_path(collection) %></h3>
              <% if collection.images.count > 0 %>
                <%= link_to image_tag(collection.images.first.picture.url, class: 'img-responsive'), collection_path(collection) %>
              <% else %>
                <%= image_tag 'https://upload.wikimedia.org/wikipedia/ru/a/ac/No_image_available.svg', class: 'img-responsive' %>
              <% end %>
              <hr />
              <small>
                <strong>Created by: </strong><%= link_to collection.user.username, user_path(collection.user) if collection.user %>
                <%= time_ago_in_words(collection.created_at) %> ago <br />
                Updated <%= time_ago_in_words(collection.updated_at) %> ago
              </small>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
