<%= form_for(@collection) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Type name of your new collection' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 10, placeholder: 'Simple description for your new collection' %>
      </div>
    </div>
    <div class="col-md-12">
      <p class="text-center">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </p>
    </div>
  </div>
<% end %>
