<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center" id="top-collections">Newest Collections</h2>
    </div>
  </div>
  <%= render 'collections', obj: @top_collections %>
</div>
