<div class="container">
  <h1 class="text-center">Create New Collections</h1>

  <%= render 'layouts/errors', obj: @collection %>

  <%= render 'form' %>

  <p class="text-center">
    [<%= link_to 'Back', root_path %>]
  </p>
</div>
