<div class="container">
  <h1><%= @collection.title %></h1>
  <div class="well">
    <p class="lead">
      Description: <%= simple_format(@collection.description) %>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <p><strong>Author of collection: </strong><%= link_to @collection.user.username, user_path(@collection.user) %></p>
        <p>User have a <%= pluralize(@collection.user.collections.count, 'collection') %> and <%= pluralize(@collection.user.images.count, 'image') %></p>
        <% if logged_in? and current_user == @collection.user %>
          <p><%= link_to fa_icon("plus", text: "Add image to collection"), new_image_path({ id: @collection.id }), method: :get, class: 'btn btn-warning', id: @collection.id %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <% @collection_images.each do |pic| %>
          <div class="col-md-4">
            <div class="well">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    <%= link_to image_tag(pic.picture, class: 'img-responsive'), pic.picture.url, 'data-toggle' => 'lightbox', 'data-title' => @collection.title, 'data-footer' => pic.link %>
                  </p>
                </div>
                <div class="col-md-12">
                  <p>
                    <%= link_to truncate(pic.link, length: 50), pic.link %>
                  </p>
                </div>
                <% if logged_in? and (current_user == @collection.user || current_user.admin?) %>
                  <div class="col-md-12">
                    <p>
                      <%= link_to fa_icon("pencil"), edit_image_path(pic), class: 'btn btn-xs btn-primary' %> <%= link_to fa_icon("trash-o"), image_path(pic), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div align="center">
        <%= will_paginate @collection_images %>
      </div>
    </div>
    <% if logged_in? && (current_user == @collection.user || current_user.admin?) %>
      <div class="col-md-12">
        <p>Actions for collection</p>
        <p>
          <%= link_to fa_icon("pencil", text: "Edit Collection"), edit_collection_path(@collection), class: 'btn btn-primary' %>
          <%= link_to fa_icon("trash-o", text: "Delete Collection"), collection_path(@collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </p>
      </div>
    <% end %>
  </div>
  <br />
</div>
