<div class="container">
  <div class="well">
    <h1 class="text-center">Login</h1>

    <%= form_for(:session, html: { class: 'form-horizontal', role: 'form' }, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>
        </div>
        <p class="text-center"><%= f.submit 'Login', class: 'btn btn-success' %></p>
    <% end %>
  </div>
</div>