<%= render 'layouts/errors', obj: @user %>

<%= form_for(@user, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :username, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplite: 'off' %>
    </div>
  </div>
  <p class="text-center"><%= f.submit(@user.new_record? ? 'Sign Up' : 'Update', class: 'btn btn-success') %></p>
<% end %>