<div class="container">
  <h1 class="text-center">List of users</h1>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="well">
          <div class="row">
            <div class="col-md-4">
              <%= link_to gravatar_for(user, size: 80), user_path(user) %>
            </div>
            <div class="col-md-6">
              <p><%= link_to user.username, user_path(user) %></p>
              <p><%= pluralize(user.collections.count, 'collection') if user.collections %></p>
            </div>
            <% if logged_in? and current_user.admin? and current_user != user %>
              <div class="col-md-12">
                <br />
                <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Are you sure? This action delete user and all collections" }, class: 'btn btn-xs btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div align="center">
    <%= will_paginate @users %>
  </div>
</div>
