<div class="container">
  <h1 class="text-center">User Profile <small>
    <% if logged_in? && current_user == @user %>
      <%= link_to fa_icon("pencil", text: "Edit profile"), edit_user_path(current_user) %></small>
    <% end %>
  </h1>

  <div class="well">
    <div class="row">
      <div class="col-md-2">
        <%= gravatar_for(@user, size: 160) %>
      </div>
      <div class="col-md-10">
        <h4><strong>Username: </strong><%= @user.username %></h4>
        <h4><strong>Email: </strong><%= link_to @user.email, 'mailto:' + @user.email %></h4>
        <% if logged_in? and current_user.admin? and current_user == @user %>
          <h4 class="label label-danger"><strong>Moderator</strong></h4>
        <% end %>
      </div>
    </div>
  </div>

  <% if @user_collections.count > 0 %>
    <h1 class="text-center">Collections created by <%= @user.username %></h1>
  <% end %>
  <%= render 'collections/collections', obj: @user_collections %>

  <%= will_paginate @user_collections %>
</div>
