<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center" id="top-collections">All Collections</h2>
    </div>
  </div>
  <%= render 'collections/collections', obj: @collections %>

  <div align="center">
    <%= will_paginate @collections %>
  </div>
</div>
