/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "lightbox-bootstrap";

 .jumbotron {
   background-image: image-url("photo.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 100% 50%;
   color: #fff;
   margin-top: -20px;
 }

 .jumbotron h1 {
   text-shadow: 0 0 10px #ffc8fe;
 }

 .well h3 {
   margin-top: -6px;
 }

 .well h3 a {
   color: #d93977;
 }

 footer {
   background-color: #2C233E;
   color: #fff;
   width: 100%;
   height: 200px;
 }

 footer #info {
   padding-top: 70px;
 }

 #top-collections {
   margin-top: 0;
   padding-bottom: 20px;
 }

 .shadow {
   box-shadow: 0 0 8px #E2E1E1;
 }

 .well .img-responsive {
   opacity: 0.8;
   transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
 }

 .well .img-responsive:hover {
   opacity: 1;
 }

 .navbar {
   border-radius: 0 !important;
 }

 .navbar-inverse {
   background-color: #302944;
   border-color: #302944;
 }

 .navbar-inverse .navbar-nav > li > a {
   color: #DCDCDC;
 }

 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
   color: #fff;
   background-color: #271F40;
 }

 .navbar-inverse .navbar-brand {
   color: #fff;
 }
