<%= form_for(@image) do |f| %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', placeholder: 'URL (format of link http://ya.ru)' %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </div>
    <%= f.hidden_field :collection_id, value: params[:id] ? params[:id] : params[:image][:collection_id] %>
    <div class="col-md-12">
      <p class="text-center">
        <%= f.submit(@image.new_record? ? 'Add image' : 'Update', class: 'btn btn-success') %>
      </p>
      <p class="text-center">
        [<%= link_to 'Back', root_path %>]
      </p>
    </div>
  </div>
<% end %>
