<footer>
  <div id="info">
    <p class="lead text-center">Using photos from <a href="https://pexels.com" target="_blank">pexels</a></p>
    <p class="text-center">Copyright &copy; 2016. All Rights Reserved</p>
  </div>
</footer>