<nav class="navbar navbar-inverse">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Media Collection', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= params[:controller] == 'pages' && params[:action] == 'index' ? 'active' : '' %>"><%= link_to 'All collections', collections_all_path %></li>
        <% if logged_in? %>
          <li class="<%= params[:controller] == 'users' && params[:action] == 'index' ? 'active' : '' %>"><%= link_to 'All Users', users_path %></li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= params[:controller] == 'collections' && params[:action] == 'new' ? 'active' : '' %>"><%= link_to 'Add new collection', new_collection_path %></li>
          <li class="dropdown <%= params[:controller] == 'users' and (params[:action] == 'show' or params[:action] == 'edit') ? 'active' : '' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <%= "(admin)" if current_user.admin? %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'View', user_path(current_user) %></li>
              <li><%= link_to 'Edit', edit_user_path(current_user) %></li>
            </ul>
          </li>
          <li><%= link_to 'Log out', logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign up', signup_path %></li>
          <li><%= link_to 'Log in', login_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
