<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Media Collection</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= debug(params) if Rails.env.development? %>

    <%= render 'layouts/navbar' %>

    <div class="jumbotron">
      <h1 class="text-center">Fruit Media Collection</h1>
      <% if !logged_in? %>
        <p class="text-center">
          <%= link_to fa_icon("sign-in") + " Log in", login_path, class: 'btn btn-xs btn-success' %> or <%= link_to fa_icon("user-plus") + " Sign Up", signup_path, class: 'btn btn-xs btn-primary' %>
          <br /> for creating your media collection
        </p>
      <% end %>
    </div>

    <div class="container">
      <%= render 'layouts/messages' %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
